include ../heading3/heading3.pug
include ../arrow/arrow.pug

mixin button(options)
  - var variant = options.variant
  - var title = options.title
  - var disabled = options.disabled

  if variant === "primary"
    button(disabled=disabled)&attributes(attributes).button.button_primary
      +heading3(title).button__title.button__title_primary

  else if variant === "secondary"
    button(disabled=disabled)&attributes(attributes).button.button_secondary
      +arrow({variant: "white", direction: "arrow_forward"})

  else if variant === "arrow"
    button(disabled=disabled)&attributes(attributes).button.button_primary.button_arrow
      +heading3(title).button__title.button__title_primary
      +arrow({variant: "white", direction: "arrow_forward"})
  
  else if variant === "bordered"
    button(disabled=disabled)&attributes(attributes).button.button_bordered
      +heading3(title).button__title.button__title_bordered

  else if variant === "thin"
    button(disabled=disabled)&attributes(attributes).button.button_thin
      +heading3(title).button__title.button__title_thin
    
  else
    button(disabled=disabled)&attributes(attributes).button.button_text
      +heading3(title).button__title.button__title_text